.Track {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid white;
}

.Track-info h3 {
  font-weight: 700;
  padding-bottom: 5px;
}

.Track-info p {
  font-weight: 300;
  font-size: 0.9rem;
}

.track-action {
  background: transparent;
  border: none;
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: opacity 0.25s;
}

.track-action:hover {
  opacity: 0.5;
}

.transparent-button {
  background: transparent;
  border: none;
  align-items: flex-end;
  cursor: pointer;
}

.button-container {
  display: flex;
  align-items: center;
}

.invert {
  -webkit-filter: invert(100%);
  -webkit-transition: -webkit-filter 0.25s;
}

.invert:hover {
  -webkit-filter: invert(60%);
}

.play-action {
  background: transparent;
  width: 20px;
  height: 20px;
}
